<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ObjectDetection-YOLOv8</title>
    <link rel="stylesheet" href="/static/css/indexproject.css">
</head>

<body>
    <div class="feature-box">
        <video src="/static/images/back.mp4"autoplay loop muted ></video>
    <div class="nav">
        <img src="/static/images/raj-police.png" alt="raj police">
        <li class="button m1"><a href="/home" >Home</a></li>
        <li class="button "><a href="/FrontPage" >Video</a></li>
        <li class="button "><a href="/" >Logout</a></li>
    </div>
    
   
        <div class="bt">
            <a href="/webcam" > Live Web Camera </a>
            <a href="/track" > Track Prisionar </a>
            <a href="/webcam" > Register face </a>
            <a href="/trackperson" >  </a>
        </div>
    
    </div>

    <div class="content">
        <div class="sub1">
            <h1> Key Feature </h1>
        </div>
        <div class="sub2">
            <div class="continer">
                <div class="cont">
                 <img src="../static/images/suse.jpg" alt="FACE DECT ">
                </div>
                <div class="sam">
                <h4><i>Suspicious Activity </i></h4>
                </div>
            </div>
            <div class="continer">
                <div class="cont">
                 <img src="../static/images/weapon.jpg" alt=" MOTION DECT ">
                </div>
                <div class="sam">
                <h4><i> Weapon Detection</i></h4>
                </div>
            </div>
            <div class="continer">
                <div class="cont">
                 <img src="../static/images/track.jpg" alt="OBJECT DECT">
                </div>
                <div class="sam">
                <h4><i>Person Tracking</i></h4>
                </div>
            </div>
        </div>
    </div>

<br>
<br>

<br>
<br>

    <div class="main">
        <h1>Detection using YOLOv8 By team Code Hunter</h1><br>
        <div class="subpart1">
            <h4> Weapon Detection</h4>
            <p> --- Weapon detection using AI and deep learning technologies is used for security applications to recognize and interpret scenes using the footage of video surveillance systems. </p><br>
            <h4> Suspicious Activity </h4>
            <p> --- If you suspect suspicious activity with YOLOv8, review code and configurations, audit access permissions, and monitor system logs for anomalies. Conduct network traffic analysis and ensure regular updates to software dependencies for security patches. </p><br>
            <h4> Pearson Tracking
            </h4>
            <p> --- Using YOLOv8 for person tracking involves detecting individuals in images or video frames, predicting bounding boxes around them, and implementing frame-to-frame tracking using algorithms like Kalman filtering.</p><br>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="contactpage">
        <h1>Contact us </h1><br>
        <p>In case of any query</p>
        <form action="/action_page.php" target="_blank">
            <input type="text" placeholder="Name" required  id="textbox"><br><br>
            <input type="text" placeholder="Email ID" required  id="textbox"><br><br>
            <input type="textarea" placeholder="Message" required id="textboxes"><br><br>
            <button type="submit" class="btn">SEND MESSAGE</button>
        </form>
    </div>

    <footer>
        <p>YOLOv8 Lecture Series <a href="https://www.linkedin.com/company/88693571/admin/feed/posts/"
                title="Linkeden"> Code Hunter </a></p>
    </footer>
    
    
</body>

</html>